{% extends "base01.html" %}
{% block title %}
パスワード再発行 - {{ super() }}
{% endblock %}
{%block head %}
<!-- ↓読み込むcssファイルをここに記述してください。 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgot_password.css')}}">
{% endblock%}
{% block content %}
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<h1>パスワード再発行画面</h1>
<p class="mg-tb-2">アカウントに登録したメールアドレスを入力してください。</p>
<div class="row">
    <form method="POST">
        <div>
            {{ form.csrf_token }}
            <div class="kosho-form-300">
                {{ form.email.label }}<br>
                {{ form.email() }}
            </div>
            {% if form.email.errors %}
                <ul>
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {{ form.submit() }}
    </form>
    <div class="mg-t-7">
        <p class="mg-tb-1">アカウントをお持ちの方はこちら</p>
        <button class="kosho-button-300 center-margin" onclick="location.href='{{url_for('auth.login')}}'">
            ログイン画面へ
        </button>
    </div>
</div>
{% endblock %}