{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
ユーザ登録 - {{ super() }}
{% endblock %}
{% block head %}
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
{% endblock %}
{% block content %}
<h2>新規会員登録</h2>
<p>アカウントをお持ちの方はこちら</p>
<a href="{{url_for('auth.login')}}">ログイン</a>
<div class="row">
    <form method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.picture_path) }}
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        <h3>本人情報登録</h3>
        <p>お名前(全角)</p>
        {{ render_field(form.last_name) }}
        {{ render_field(form.first_name) }}
        <p>お名前カナ(全角)</p>
        {{ render_field(form.last_name_kana) }}
        {{ render_field(form.first_name_kana) }}
        {{ render_field(form.birth) }}
        <h3>住所登録</h3>
        {{ render_field(form.zip01, onKeyUp="AjaxZip3.zip2addr(this,'','pref01','addr01');") }}
        {{ render_field(form.pref01) }}
        {{ render_field(form.addr01) }}
        {{ render_field(form.addr02) }}
        {{ render_field(form.addr03) }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}