{% from "_formhelpers.html" import render_field %}
{% extends "base01.html" %}
{% block title %}
パスワード再設定 - {{ super() }}
{% endblock %}
{%block head %}
<!-- ↓読み込むcssファイルをここに記述してください。 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth/reset_password.css')}}">
{% endblock%}
{% block content %}
<h1>パスワード再設定</h1>
<form method="POST">
    {{ form.csrf_token }}
    <div class="kosho-form-300">
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
    </div>
    {{ form.submit(class="mg-9") }}
</form>
{% endblock %}