html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

.page{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 0 99px  black;
    background-color: #FFE4B5;
}

header {
    height: 200px;
}
    div.headerLogo{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        div.headerLogo img{
            width: 150px;
        }


.common1-bar{
    border-bottom: solid 2px white;
}

dt{
    margin: px 0;
}

dd{
    margin: 0;
}

p{
    margin: 0;
}

footer{
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
}
    footer p{
        width: 800px;
        margin: 0;
    }
