/* base02 */
.wrap{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: visible;
}
header{
    position: sticky;
    top: 0;
    width: 375px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    height: 100vh;
    background-color: #FFF;
    padding-top: 80px;
    border-right: solid 1.5px #dedbd5;
}
header::-webkit-scrollbar {
    display:none;
}
.container{
    min-height: 100vh;
    width: 550px;
    background-color: #fff3e0;
}
.r-content{
    position: sticky;
    top: 0;
    width: 375px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    height: 100vh;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    border-left: solid 1.5px #dedbd5;
}
.r-content::-webkit-scrollbar {
    display:none;
}
.r-wrap{
    
}
/* ナビゲーション */
.h-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 img{
    width: 130px;
}
.h-wrap nav ul li{
    text-align: center;
    margin: 40px 0;
}
.h-wrap nav ul li:not(.mp-a){
    font-size: 1.8rem;
    font-weight: bold;
}
.u-icon{
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ececec;
}
.accordion-open:hover{
    transition: color 0.5s;
    color: #e54747;
}
nav a:hover{
    color: #e54747;
}
.active{
    color: #e54747;
}
.active:visited{
    color: #e54747;
}
/* マイページアコーディオン */
/* チェックボックスを非表示にする */
.accordion-hidden{
    display: none;
}
.accordion-open {
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    transition: color 0.5s;
}
/* Answer部分は最初は表示しない */
.accordion-close {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: 0.5s;/* 表示速度の設定 */
}
/* チェックボックスにチェックが入ったらAnswer部分を表示 */
.accordion-hidden:checked + .accordion-open + .accordion-close {
    height: auto;
    opacity: 1;
    padding: 10px;
    font-weight: 700;
}
.accordion-close a{
    margin: 10px 0;
    font-size: 1.4rem;
    font-weight: bold;
}
/* フラッシュメッセージ */
.flash{
    color: #e54747;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 10px 0;
}
/* アイテムレコメンド */
.reco_b_wrap{
    margin-top: 30px;
    background-color: #f6f9fa;
    border-radius: 17px;
    padding: 8px 0;
}
.r-h2{
    text-align: center;
    margin-top: 6px;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 10px;
}
.r_item-wrap{
    width: 320px;
    padding: 8px;
    padding-left: 19px;
    border-bottom: 1.5px solid #ccc;
}
.r_item-wrap:nth-of-type(3){
    border-bottom: none;
}
.r_item-wrap p{
    font-size: 1.5rem;
}
.r_item-wrap .u-box{
    display: flex;
    align-items: flex-start;
}
.r_item-wrap .u-box p{
    margin-top: 3px;
    margin-left: 5px;
    font-size: 1.3rem;
}
.r_item-wrap .u-name{
    font-weight: bold;
}
.r_item-wrap .u-code{
    color: #7b7b7b;
}
.r_item-wrap .u-box .u-icon{
    width: 45px;
}
.r_item-wrap .i-content-area{
    margin-top: -23px;
    margin-left: 53px;
}
.r_item-wrap .i-key{
    font-size: 1.5rem;
    font-weight: bold;
}
.r_item-wrap .i-key p{
    margin-bottom: 5px;
}
.r_item-wrap .i-key i{
    margin-right: 5px;
}
.r_item-wrap .i-key .fa-key{
    color: #C8A063;
}
.r_item-wrap .i-comm{
    margin: 10px 0px;
}
.r_item-wrap .i-price{
    margin-left: 70px;
    font-size: 1.8rem;
    font-weight: bold;
}
.r_item-wrap .i-fotter{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
}
.r_item-wrap .like-wrap button i{
    margin-left: 28px;
}
.r_item-wrap .i-fotter p{
    color: #808080;
    margin-right: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.r_item-wrap .k-s-box{
    display: flex;
    justify-content: space-between;
}
/* ユーザーレコメンド */
.reco-u-wrap{
    margin-top: 25px;
    background-color: #f6f9fa;
    border-radius: 17px;
    padding: 8px 0;
}
.reco-u-wrap .u-box{
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #ccc;
}
.reco-u-wrap .u-box:nth-of-type(3){
    border-bottom: none;
}
.u-u-wrap{
    display: flex;
}
.u-nc .u-code{
    margin-top: 0;
}
.u-nc .u-code{
    margin-top: -6px;
    margin-left: 8px;
}
.reco-u-wrap .follow-wrap button{
    /* ボタン要素リセット */
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border-radius: 20px;
    padding: 3px 15px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.reco-u-wrap .follow-wrap button:hover{
    opacity: 0.5;
}
.reco-u-wrap .unfollow-btn{
    color: #797878;
    background: #fff;
    border: 2px solid #cecdcd;
}
.reco-u-wrap .follow-btn{
    color: #ffffff;
    background: #0f2396;
    border: 2px solid #0f2396;
}
