h1{
    font-size: 22px;
    margin: 0;
    padding: 50px 0;
}

#submit{
    margin-top: 50px;
}

ul{
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    color: white;
    background-color: #ff5959;
}
