.item-wrap{
    background-color: #ffffff;
    margin: 5px;
    padding: 30px;
}
.item-wrap p{
    font-size: 1.5rem;
}
.u-box{
    display: flex;
    align-items: flex-start;
}
.u-box p{
    margin-top: 11px;
    margin-left: 5px;
}
.u-name{
    font-weight: bold;
}
.u-code{
    color: #7b7b7b;
}
.u-box .u-icon{
    width: 60px;
}
.i-content-area{
    margin-top: -23px;
    margin-left: 70px;
}
.i-key{
    font-size: 1.5rem;
    font-weight: bold;
}
.i-key p{
    margin-bottom: 5px;
}
.i-key i{
    margin-right: 5px;
}
.i-key .fa-key{
    color: #C8A063;
}
.i-comm p{
    margin: 20px 0px;
}
