/* タブ */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.home-tab{
    text-align: center;
    margin: 10px;
    border-radius: 7px;
    border: solid 2px  #0f2396;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.home-tab a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    flex-grow: 1;
    padding: 8px;
}
.home-tab a{
    transition: 0.5s;
}
.home-tab a:hover{
    background-color: #0f239670;
}
.current{
    color: #ffffff;
    background-color: #0f2396;
    border-radius: 5px;
}
.current:visited{
    color: #ffffff;
}