/* 出品投稿css */
.item-wrap{
    width: 550px;
    background-color: #ffffff;
    margin: 2px;
    padding: 30px;
}
.item-wrap p{
    font-size: 1.5rem;
}
.u-box{
    display: flex;
    align-items: flex-start;
}
.u-box p{
    margin-top: 11px;
    margin-left: 5px;
}
.u-name{
    font-weight: bold;
}
.u-code{
    color: #7b7b7b;
}
.u-box .u-icon{
    width: 60px;
}
.i-content-area{
    margin-top: -23px;
    margin-left: 70px;
}
.i-key{
    font-size: 1.5rem;
    font-weight: bold;
}
.i-key p{
    margin-bottom: 5px;
}
.i-key i{
    margin-right: 5px;
}
.i-key .fa-key{
    color: #C8A063;
}
.i-comm{
    margin: 10px 0px;
}
.i-price{
    margin-left: 70px;
    font-size: 1.8rem;
    font-weight: bold;
}
.i-fotter{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.like-wrap button i{
    margin-left: 49px;;
}
.i-fotter p{
    color: #808080;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.k-s-box{
    display: flex;
    justify-content: space-between;
}
.sold{
    text-align: center;
    width: 130px;
    height: 46px;
    padding: 10px;
    border-radius: 20px;
    background-color: #e54747;
}
.sold p{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
