/* 古書邂逅フォーム */
div.kosho-form-300 input{
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
div.kosho-form-300 input:focus{
    outline: none;
}

div.kosho-form-300 textarea{
    width: 300px;
    height: 200px;
}
div.kosho-form-300 textarea:focus{
    outline: none;
}


div.kosho-form-300 select{
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
div.kosho-form-300 select:focus{
    outline: none;
}


div.kosho-form-200 input{
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
div.kosho-form-200 input:focus{
    outline: none;
}

div.kosho-form-140 input{
    width: 140px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
div.kosho-form-140 input:focus{
    outline: none;
}


div.kosho-form-70 input{
    width: 70px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
div.kosho-form-70 input:focus{
    outline: none;
}

div.kosho-form-70 select{
    width: 70px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
div.kosho-form-70 select:focus{
    outline: none;
}


.kosho-select-year{
    width: 70px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
.kosho-select-year{
    outline: none;
}

.kosho-select-day{
    width: 50px;
    height: 30px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

input, select, textarea{
    font-family: 'Courier New', Courier, monospace;
}

#pref01{
    width: 100px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}
#pref01{
    outline: none;
}

#delete{
    width: 50px;
    height: 30px;
    background-color: #8b4513;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .2s;
    outline: none;
}
#delete:hover{
    background-color: #d9a077;
    transition: .7s;
}

.edit {
    width: 50px;
    height: 30px;
    background-color: #a73836;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .2s;
    outline: none;
}
.edit:hover{
    background-color: #662222;
    transition: .7s;
}

.edit a{
    line-height: 30px;
    color: white;
    text-decoration: none;
}

a.back-home {
    text-decoration: none;
    color: #8b4513;
    font-weight: bold;
}
a.back-home:hover{
    border-bottom: solid 1px #d9a077;
    color: #d9a077;
}

a.back {
    text-decoration: none;
    color: #8b4513;
    font-weight: bold;
}
a.back:hover{
    border-bottom: solid 1px #d9a077;
    color: #d9a077;
}

.default-button input{
    width: 50px;
}


/* 必須 */
.req{
    font-size: 1.2rem;
    background-color: red;
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

p.error-msg{
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    color: red;
    border: solid 3px red;
    border-radius: 10px;
}

p.finish-msg{
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    color: #8b4513;
    border: solid 3px #8b4513;
    border-radius: 10px;

}

/* 古書邂逅ボタン */
.kosho-button-300{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: white;
    transition: .2s;
    background-color: #a73836;
}
.kosho-button-300:hover{
    transition: .7s;
    background-color: #662222;
}

.kosho-button2-300{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: .2s;
    background-color: #0f2396;
}
.kosho-button2-300:hover{
    transition: .7s;
    background-color:#0e0e42;
}
.kosho-button2-300:focus{
    outline: none;
}

#submit{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: .2s;
    background-color: #0f2396;
}
#submit:hover{
    transition: .7s;
    background-color:#0e0e42;
}
#submit:focus{
    outline: none;
}

button{
    margin: 0 20px;
    border: none;
}
button:focus{
    outline:none
}

/* 中央揃え(ブロック要素) */
.center-margin{
    margin: 0 auto;
}

/* 中央揃え(要素) */
.txt-center{
    text-align: center;
}


/* margin設定 */
.kosho-pd{
    padding: 100px 0 50px 0;
}

.mg-1{
    margin: 10px;
}
.mg-2{
    margin: 20px;
}
.mg-3{
    margin: 30px;
}
.mg-4{
    margin: 40px;
}
.mg-5{
    margin: 50px;
}
.mg-6{
    margin: 60px;
}
.mg-7{
    margin: 70px;
}
.mg-8{
    margin: 80px;
}
.mg-9{
    margin: 90px;
}

.mg-t-1{
    margin-top: 10px;
}
.mg-t-2{
    margin-top: 20px;
}
.mg-t-3{
    margin-top: 30px;
}
.mg-t-4{
    margin-top: 40px;
}
.mg-t-5{
    margin-top: 50px;
}
.mg-t-6{
    margin-top: 60px;
}
.mg-t-7{
    margin-top: 70px;
}
.mg-t-8{
    margin-top: 80px;
}
.mg-t-9{
    margin-top: 90px;
}
.mg-t-10{
    margin-top: 100px;
}

.mg-b-1{
    margin-bottom: 10px;
}
.mg-b-2{
    margin-bottom: 20px;
}
.mg-b-3{
    margin-bottom: 30px;
}
.mg-b-4{
    margin-bottom: 40px;
}
.mg-b-5{
    margin-bottom: 50px;
}

.mg-r-1{
    margin-right: 10px;
}
.mg-r-2{
    margin-right: 20px;
}
.mg-r-3{
    margin-right: 30px;
}
.mg-r-4{
    margin-right: 40px;
}
.mg-r-5{
    margin-right: 50px;
}

.mg-rl-1{
    margin: 0px 10px;
}
.mg-rl-2{
    margin: 0px 20px;
}
.mg-rl-3{
    margin: 0px 30px;
}
.mg-rl-4{
    margin: 0px 40px;
}
.mg-rl-5{
    margin: 0px 50px;
}

.mg-tb-1{
    margin: 10px 0px;
}
.mg-tb-1_5{
    margin: 15px 0px;
}
.mg-tb-2{
    margin: 20px 0px;
}
.mg-tb-3{
    margin: 30px 0px;
}
.mg-tb-4{
    margin: 40px 0px;
}
.mg-tb-5{
    margin: 50px 0px;
}
.mg-tb-6{
    margin: 60px 0px;
}
.mg-tb-7{
    margin: 70px 0px;
}
.mg-tb-8{
    margin: 80px 0px;
}
.mg-tb-9{
    margin: 90px 0px;
}
.mg-tb-10{
    margin: 100px 0px;
}

/* padding設定 */
.pd-1{
    padding: 10px;
}
.pd-2{
    padding: 20px;
}
.pd-3{
    padding: 30px;
}
.pd-4{
    padding: 40px;
}
.pd-5{
    padding: 50px;
}

.pd-rl-1{
    padding: 0px 10px;
}
.pd-rl-2{
    padding: 0px 20px;
}
.pd-rl-3{
    padding: 0px 30px;
}
.pd-rl-4{
    padding: 0px 40px;
}
.pd-rl-5{
    padding: 0px 50px;
}

.pd-tb-1{
    padding: 10px 0px;
}
.pd-tb-2{
    padding: 20px 0px;
}
.pd-tb-3{
    padding: 30px 0px;
}
.pd-tb-4{
    padding: 40px 0px;
}
.pd-tb-5{
    padding: 50px 0px;
}

.pd-t-1{
    padding-top: 10px;
}
.pd-t-2{
    padding-top: 20px;
}
.pd-t-3{
    padding-top: 30px;
}
.pd-t-4{
    padding-top: 40px;
}
.pd-t-5{
    padding-top: 50px;
}

.pd-r-1{
    padding-right: 10px;
}
.pd-r-2{
    padding-right: 20px;
}
.pd-r-3{
    padding-right: 30px;
}
.pd-r-4{
    padding-right: 40px;
}
.pd-r-5{
    padding-right: 50px;
}

.pd-b-1{
    padding-bottom: 10px;
}
.pd-b-2{
    padding-bottom: 20px;
}
.pd-b-3{
    padding-bottom: 30px;
}
.pd-b-4{
    padding-bottom: 40px;
}
.pd-b-5{
    padding-bottom: 50px;
}


.lh-1{
    line-height: 10px;
}
.lh-2{
    line-height: 20px;
}
.lh-3{
    line-height: 30px;
}
.lh-4{
    line-height: 40px;
}
.lh-5{
    line-height: 50px;
}
.lh-6{
    line-height: 60px;
}

/* z-indexの設定 */
.z-in0{
    z-index: 0;
}
.z-in1{
    z-index: 1;
}
.z-in2{
    z-index: 2;
}
.z-in3{
    z-index: 3;
}
.z-in4{
    z-index: 4;
}
.z-in5{
    z-index: 5;
}
/* boxshadowの設定 */
.box-shadow {
    box-shadow: 0 0 99px black;
}

/* positionの設定 */
.posi-ab{
    position: absolute;
}
.posi-re{
    position: relative;
}
.posi-fix{
    position: fixed;
}

/* float設定 */
.fl-lf{
    float: left;
}
.fl-rg{
    float: right;
}
