.msger-wrap p{
	font-weight: bold;
}
.msger-wrap .u-icon{
	width: 50px;
}
.msg-content{
	margin-bottom: 160px;
}
.msger-wrap{
	display: flex;
	align-items: center;
}
.speech-bubble-dest {
	min-width: 200px;
	position: relative;
	background: #ffffff;
	border-radius: 20px;
	padding: 10px;
	margin-right: 10px;
}
.speech-bubble-dest:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -10.5px;
	margin-left: -21px;
}
.speech-bubble-self{
	min-width: 200px;
	position: relative;
	background: #ffffff;
	border-radius: 20px;
	padding: 10px;
	margin-left: 10px;
}
.speech-bubble-self::after{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 21px solid transparent;
	border-left-color: #ffffff;
	border-right: 0;
	border-top: 0;
	margin-top: -10.5px;
	margin-right: -21px;
}
.msg-box{
	display: flex;
	margin: 17px;
}
.self-box{
	justify-content: flex-end;
}
.self-box .u-icon{
	margin-right: 10px;
}
.self-box .msger-wrap{
	margin-left: 30px;
}
.dest-box .u-icon{
	margin-left: 10px;
}
.dest-box .msger-wrap{
	margin-right: 30px;
}