{% from "_formhelpers.html" import render_field %}
{% extends "base02.html" %}
{% block title %}
クレジットカード登録画面 - {{ super() }}
{% endblock %}
{% block content %}
<div class="base2-wrap">
    <h1>クレジットカード登録</h1>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <div class="base2-form">
    <form method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.credit_name) }}
        {{ render_field(form.credit_num) }}
        {{ render_field(form.expiration_date01) }}
        {{ render_field(form.expiration_date02) }}
        {{ render_field(form.security_code) }}
    </div>
    <div class="pd-b-3">
        {{ render_field(form.is_default) }}
    </div>
</div>

    <div class="mg-tb-1_5 txt-center">
        {{ form.submit() }}
    </div>
</form>
{% endblock %} 