{% extends "base02.html" %}
{% block title %}
メールアドレス更新完了画面 - {{ super() }}
{% endblock %}
{% block content %}
<div class="base2-wrap">
<h1>メールアドレスを更新しました</h1>
<p class="lh-5">
    古書邂逅をご利用いただきありがとうございます。<br>
    {{ current_user.email }}の確認が完了しました。<br>
    引き続き古書邂逅をお楽しみください。
</p>
<div class="pd-tb-3">
    <a href="{{url_for('route.home')}}" class="back-home">ホームへ戻る</a>
</div>
</div>
{% endblock %}
{% block content2 %}
<div class="mypage-right-pict-wrap">
    <img src="{{url_for('static', filename='images/mypage-right-pict.png')}}" alt="読書のイラスト">
    <p>Illustration by Icons 8 from <a href="https://icons8.com/">Icons8</a></p>
</div>
{% endblock %}