{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
メール・パスワード変更画面 - {{ super() }}
{% endblock %}
{% block content %}
<h1>メール・パスワード変更画面</h1>
<div class="row">
    <div class="col-lg-8 offset-lg-4">
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>
    <form method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.now_password) }}
        {{render_field(form.email, value=current_user.email)}}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}