{% from "_formhelpers.html" import render_field %}
{% extends "base02.html" %}
{% block title %}
    マイページトップ画面 - {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 offset-lg-2">
        {% if current_user.picture_path %}
        <img src="{{url_for('static', filename='user_image/' + current_user.picture_path)}}">
        {% endif %}
    </div>
    <div class="col-lg-4 offset-lg-2">
        <p>ユーザ名: {{ current_user.username }}</p>
        <p>メールアドレス: {{ current_user.email }}</p>
        <p>自己紹介: {{ current_user.prof_comment }}</p>
    </div>
</div>
{% endblock %}