{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
配送先住所編集画面 - {{ super() }}
{% endblock %}
{% block head %}
<!-- 郵便番号から住所自動入力 -->
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
{% endblock %}
{% block content %}
<h2>配送先住所編集</h2>
<div class="row">
    <div class="col-lg-8 offset-lg-4">
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
    <form method="POST">
        {{ form.csrf_token }}
        <h3>お名前(全角)</h3>
        {{ render_field(form.last_name) }}
        {{ render_field(form.first_name) }}
        <h3>お名前カナ(全角)</h3>
        {{ render_field(form.last_name_kana) }}
        {{ render_field(form.first_name_kana) }}
        <h3>住所登録</h3>
        {{ render_field(form.zip01, onKeyUp="AjaxZip3.zip2addr(this,'','pref01','addr01');") }}
        {{ render_field(form.pref01) }}
        {{ render_field(form.addr01) }}
        {{ render_field(form.addr02) }}
        {{ render_field(form.addr03) }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}