{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
発送元・お届け先住所一覧画面 - {{ super() }}
{% endblock %}
{% block content %}
<h1>発送元・お届け先住所一覧画面</h1>
{% for shippingaddress in shippingaddress %}
<p>
    <a href="{{url_for('mypage.shippingaddress_reigister')}}">
        {{ last_name }}
        {{ first_name }}
        {{ last_name_kana }}
        {{ first_name_kana }}
        {{ zip01 }}
        {{ pref01 }}
        {{ addr01 }}
        {{ addr02 }}
        {{ addr03 }}
    </a>
</p>
{{ form.submit() }}
<div class="col-lg-4 offset-lg-2">
    <nav>
    <a href="{{url_for('mypage.shippingaddress.shippingaddress_reigister')}}">
        登録
    </a>
    </nav>
</div>
{% endfor %}
{% endblock %}