{% from "_formhelpers.html" import render_field %}
{% extends "base02.html" %}
{% block title %}
検索画面 - {{ super() }}
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search/search.css')}}">
{% endblock %}
{% block content %}
<form method="GET" id="search_form"></form>
<div class="search-container">
    {{ form.search(value=form.search.data, form="search_form") }}
    {{ form.submit(form="search_form", value="検索") }}
</div>
<div class="home-tab">
    <a id="item" href="">ITEM</a>
    <a id="user" href="">USER</a>
</div>
<!-- 商品検索結果 -->
{% if change_search=='item' and items != None %}
    <!-- ここから　出品投稿 -->
    {% for item in items %}
        <article class="item-wrap">
            <a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">
                <object><a class="u-box" href="{{url_for('user.userdata', user_code=item.user.user_code)}}">
                    <img class="u-icon" src="{{url_for('static', filename='user_image/' + item.user.picture_path)}}">
                    <p class="u-name">{{ item.user.username }}</p>
                    <p class="u-code">{{ item.user.user_code }}</p>
                </a></object>
                <div class="i-content-area">
                    <div class="k-s-box">
                        <div class="i-key">
                            <p><i class="fas fa-key"></i>{{ item.key1 }}</p>
                            <p><i class="fas fa-key"></i>{{ item.key2 }}</p>
                            <p><i class="fas fa-key"></i>{{ item.key3 }}</p>
                        </div>
                        {% if item.deal_status.value == 2 or item.deal_status.value == 3 %}
                            <div class="sold">
                                <p>SOLD OUT!</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="i-comm"><p>{{ item.sell_comment }}</p></div>
                </div>
                <p><span class="i-price">¥{{ item.price }}</span></p>
                <div class="i-fotter">
                    {% include "like.html" %}
                    <p>{{ item.create_at.strftime('%Y/%m/%d %H:%M') }}</p>
                </div>
            </a>
        </article>
    {% endfor %}
    <!-- ここまで　出品投稿 -->
<!-- ユーザー検索結果 -->
{% elif change_search=='user' and users != None %}
    <div class="reco-u-wrap search">
    {% for user in users %}
        <a class="u-box" href="{{url_for('user.userdata', user_code=user.user_code)}}">
            <div class="u-u-wrap">
                <img class="u-icon" src="{{url_for('static', filename='user_image/' + user.picture_path)}}">
                <div class="u-nc">
                    <p class="u-name">{{ user.username }}</p>
                    <p class="u-code">{{ user.user_code }}</p>
                </div>
            </div>
            {% include "follow.html" %}
        </a>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
{% block content2 %}
<!-- 絞り込みフォーム -->
{% if change_search=='item' %}
    <div class="nd-wrap" id="nd-wrap">
        <div class="nd-wrap-wrap">
            <h2><i class="fas fa-list-ul"></i>並び替え</h2>
            {{ form.sort(form="search_form") }}
            <h2><i class="fas fa-filter"></i>絞り込み</h2>
            <h3><i class="fas fa-tags"></i>ジャンル</h3>
            {{ form.genre(form="search_form") }}
            <h3><i class="fas fa-coins"></i>価格</h3>
            <div class="value-wrap">
                {{ form.value_min(form="search_form", class="value") }}
                <span class="value-kara">～</span>
                {{ form.value_max(form="search_form", class="value") }}
            </div>
            <h3><i class="fas fa-book"></i>商品の状態</h3>
            {{ form.state() }}
            <h3><i class="fas fa-truck-moving"></i>配送料の負担</h3>
            {{ form.postage() }}
            <h3><i class="fas fa-shopping-cart"></i>販売状況</h3>
            {{ form.sellstate() }}
            {{ form.n_d_submit(form="search_form", class="n-d-submit") }}
            <input type="reset" value="クリア" form="search_form" class="n-d-submit n-d-reset">
        </div>
    </div>
{% elif change_search=='user' and r_user_list %}
    {% if r_user_list %}
        <div class="reco-u-wrap search-r-u">
            <h2 class="r-h2">おすすめのユーザー</h2>
            {% for user in r_user_list %}
                <a class="u-box" href="{{url_for('user.userdata', user_code=user.user_code)}}">
                    <div class="u-u-wrap">
                        <img class="u-icon" src="{{url_for('static', filename='user_image/' + user.picture_path)}}">
                        <div class="u-nc">
                            <p class="u-name">{{ user.username }}</p>
                            <p class="u-code">{{ user.user_code }}</p>
                        </div>
                    </div>
                    {% include "follow.html" %}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="looling-f">購入履歴・閲覧履歴・いいねにより、<br>あなたのおすすめの本を探します</p>
    {% endif %}
{% endif %}
<script>
    $(document).ready(function(event){
        // ここから カレントページ取得
        if(location.pathname.match("/search/item/")){
            $('#item').addClass('current');
        }else if(location.pathname.match("/search/user/")){
            $('#user').addClass('current');
        }
        // ここまで カレントページ取得
        // ここから ITEM/USERタブ リンク操作
        var path = location.href.split("/");  
        var item_tab = document.getElementById("item");
        item_tab.href = "/search/item/" + path[5];
        var user_tab = document.getElementById("user");
        user_tab.href = "/search/user/" + path[5].split("&")[0];
        // ここまで ITEM/USERタブ リンク操作
        // ここから チェックボックス form="search_form"追加
        $('input[name="state"]').attr('form', 'search_form');
        $('input[name="postage"]').attr('form', 'search_form');
        $('input[name="sellstate"]').attr('form', 'search_form');
        // ここまで チェックボックス form="search_form"追加
        // ここから チェックボックス class追加
        $('#nd-wrap label').addClass('checkbox');
        // ここまで チェックボックス class追加   
    });
</script>
{% endblock %}