{% from "_formhelpers.html" import render_field %}
{% extends "base02.html" %}
{% block title %}
検索画面 - {{ super() }}
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h2>検索</h2>
<form method="POST" action="{{url_for('search.search')}}">
    {{ form.csrf_token }}
    {% if search_word %}
        {{ render_field(form.search, value=search_word) }}
    {% else %}
    {{ render_field(form.search) }}
    {% endif %}
    {{ form.change_search(value=change_search) }}
    {{ form.submit() }}
</form>
<div class="row">
    <div class="col-lg-8 offset-lg-4">
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>
</div>
<div>
    {% if search_word %}
        <a href="{{url_for('search.change_search', search_word=search_word, change_search='ITEM')}}">ITEM</a>
        <a href="{{url_for('search.change_search', search_word=search_word, change_search='USER')}}">USER</a>
    {% else %}
        <a href="{{url_for('search.change_search', search_word=' ', change_search='ITEM')}}">ITEM</a>
        <a href="{{url_for('search.change_search', search_word=' ', change_search='USER')}}">USER</a>
    {% endif %}
</div>
{% if items %}
    <!-- 商品検索結果 -->
    {% if change_search=='ITEM' %}
    <table>
        {% for item in items %}
        <tr>
            <td><a href="{{url_for('user.userdata', user_code=item.user.user_code)}}">
                <img src="{{url_for('static', filename='user_image/' + item.user.picture_path)}}">
                {{ item.user.username }}
            </a></td>
            <td><a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">
                {{ item.deal_status.name }}
                {{ item.key1 }}
                {{ item.key2 }}
                {{ item.key3 }}
                {{ item.sell_comment }}
                {{ item.create_at.strftime('%Y/%m/%d %H:%M') }}
            </a></td>
            <td>
                {% include "like.html" %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <script>
        // ここから ajaxでcsrf_tokenを使用するとき
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        // ここまで ajaxでcsrf_tokenを使用するとき
        // ここから いいね処理
        $(document).ready(function(event){
            var winScrollTop;
            $(document).on('click', '#like', function(event){
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('ajax.like_ajax') }}",
                    data: {'sell_id': $(this).attr('name')},
                    dataType: 'json',
                    success: function(data){
                        if(data['not_authenticated']){
                            //スクロール位置を取得
                            winScrollTop = $(window).scrollTop();
                            login_required_modal_open();
                        }else{
                            selector = document.getElementsByName(data['item_id']);
                            if(data['liked']){
                                $(selector).html("<i class='fas fa-lg fa-heart like-btn'></i>");
                            }
                            else {
                                $(selector).html("<i class='far fa-lg fa-heart unlike-btn'></i>");
                            }
                            selector2 = document.getElementsByName(data['item_id'] + "-count");
                            $(selector2).text(data['count']);
                        }
                    }
                });
            });
            function login_required_modal_open(){
                $('#login-required-modal').fadeIn();
                return false;
            }
            $('.js-modal-close').on('click',function(){
                $('#login-required-modal').fadeOut();
                $('body,html').stop().animate({scrollTop:winScrollTop}, 100);
                return false;
            });
        });
        // ここまで いいね処理
    </script>
    <!-- ユーザー検索結果 -->
    {% elif change_search=='USER' %}
    <table>
        {% for user in items %}
        <tr>
            <td><a href="{{url_for('user.userdata', user_code=user.user_code)}}">
                <img src="{{url_for('static', filename='user_image/' + user.picture_path)}}">
            </a></td>
            <td><a href="{{url_for('user.userdata', user_code=user.user_code)}}">
                {{ user.username }}
            </a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endif %}
{% endblock %}
{% block content2 %}
<!-- 絞り込みフォーム -->
{% if change_search=='ITEM' %}
    <form method="POST" action="{{url_for('search.narrow_down_search')}}">
        {{ form.csrf_token }}
        {{ ndform.search_word(value=search_word) }}
        <h2>並び替え</h2>
        {{ render_field(ndform.sort) }}
        <h2>絞り込み</h2>
        <h3>ジャンル</h3>
        {{ render_field(ndform.genre) }}
        <h3>価格</h3>
        {{ render_field(ndform.value_min, value=300) }}円～{{ render_field(ndform.value_max, value=99999) }}円
        <h3>商品の状態</h3>
        {{ render_field(ndform.state ) }}
        <h3>配送料の負担</h3>
        {{ render_field(ndform.postage) }}
        <h3>販売状況</h3>
        {{ render_field(ndform.sellstate) }}
        {{ ndform.submit() }}
        <input type="reset" value="クリア">
    </form>
{% endif %}
{% endblock %}