{% from "_formhelpers.html" import render_field %}
{% extends "base02.html" %}
{%block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/message.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction/transaction.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction/notice.css')}}">
{% endblock%}
{% block title %}
取引画面 - {{ super() }}
{% endblock %}
{% block content %}
<div class="m-wrap">
    <div class="l-titile">
        <h2>取引メッセージ</h2>
    </div>
    {% if messages | length >= 5 %}
        <div id="load_message_button" class="load-msg-a">
            <button class="load-msg-b" onclick="load_old_messages();">メッセージを読み込む</button>
        </div>
    {% endif %}
    <div class="msg-content">
        {% for message in messages|reverse %}
            {% if message.from_user_id == current_user.User_id %}
                <!-- 自分側 -->
                <div class="msg-box self-box">
                    <div id="self-message-tag-{{ message.DealMessage_id }}">
                        <p>{{ message.create_at.strftime("%Y/%m/%d %H:%M") }}</p>
                        {% if message.is_checked %}
                            <p>既読</p>
                        {% endif %}
                    </div>
                    <div class="speech-bubble-self">
                        <!-- 改行部分を区切ってforループする -->
                        {% for splitted_message in message.message|replace_newline %}
                            <p>{{ splitted_message|urlize }}</p>
                        {% endfor %}
                    </div>
                    <div class="msger-wrap">
                        <img class="u-icon" src="{{url_for('static', filename='user_image/' + current_user.picture_path)}}">
                        <p>{{ current_user.username }}</p>
                    </div>
                </div>
            {% else %}
                <!-- 相手側 -->
                <div class="msg-box dest-box">
                    <div class="msger-wrap">
                        <img class="u-icon" src="{{url_for('static', filename='user_image/' + dest_user.picture_path)}}">
                        <p>{{ dest_user.username }}</p>
                    </div>
                    <div class="speech-bubble-dest">
                        <!-- 改行部分を区切ってforループする -->
                        {% for splitted_message in message.message|replace_newline %}
                            <p>{{ splitted_message|urlize }}</p>
                        {% endfor %}
                    </div>
                    <p>{{ message.create_at.strftime("%Y/%m/%d %H:%M") }}</p>
                </div>
            {% endif %}
        {% endfor %}
        <!-- ↓message-formの上にajaxで取得されるメッセージが入ります -->
        <div id="message-form"></div>
    </div>
    <div class="message-area">
        <form method="POST">
            {{ messageform.csrf_token }}
            <div class="msg-wrap">
                {{ messageform.message() }}
                {{ messageform.submit() }}
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        // 1秒間隔でget_new_messagesを実行
        timer = setInterval("get_new_messages()", 1000);
    });
    dest_user_id = "{{ dest_user.User_id }}";
    sell_id = "{{ item.Sell_id }}";
    offset_value = 1;
    function get_new_messages(){
        $.getJSON("/transaction/message_ajax", {
            dest_user_id: dest_user_id,
            sell_id : sell_id
        }, function(data){
            $('#message-form').before(data['data']);
            var checked_message_ids = data['checked_message_ids'];
            for(let idx = 0; idx < checked_message_ids.length; idx++){
                $('#self-message-tag-' + checked_message_ids[idx]).append('<p>既読</p>');
            }
        });
    };
    function load_old_messages(){
        $.getJSON("/transaction/load_old_messages", {
            dest_user_id : dest_user_id,
            sell_id : sell_id,
            offset_value : offset_value
        }, function(data){
            if(data['data']){
                hidden_id = "load_message_" + offset_value;
                hidden_tag = '<div id=">' + hidden_id + '"></div>';
                $(hidden_tag).insertAfter('#load_message_button');
                $(data['data']).insertAfter('#load_message_button');
                $('body, html').animate({scrollTop: $('#' + hidden_id).offset().top},0);
                offset_value += 1;
            }
        });
    }
</script>
{% endblock %}
{% block content2 %}
<div class="t-wrap">
    <div class="titile">
        <h2>取引通知</h2>
    </div>
    <div class="notice-wrap">
        {% for message in get_flashed_messages() %}
            <p class="flash">{{ message }}</p>
        {% endfor %}
        {% include "transaction/notice.html" %}
    </div>
    <table>
        <tr><th colspan="2"><h3>取引情報</h3></th></tr>
        <tr>
            <th>出品者</th>
            <td>
                <a class="u-box" href="{{url_for('user.userdata', user_code=item.user.user_code)}}">
                    <img class="u-icon" src="{{url_for('static', filename='user_image/' + item.user.picture_path)}}">
                    <div class="u-nc">
                        <p class="u-name">{{ item.user.username }}</p>
                        <p class="u-code">{{ item.user.user_code }}</p>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <th>商品</th>
            <td>
                <a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">
                    <i class="fas fa-key"></i>{{ item.key1 }}<br>
                    <i class="fas fa-key"></i>{{ item.key2 }}<br>
                    <i class="fas fa-key"></i>{{ item.key3 }}<br>
                </a>
            </td>
        </tr>
        <tr>
            <th>価格</th>
            <td>
                {{ item.price }}<br>
            </td>
        </tr>
        <tr>
            <th>送料</th>
            <td>{{ item.postage.name }}</td>
        </tr>
        <tr>
            <th>購入日時</th>
            <td>{{ buy.create_at.strftime("%Y/%m/%d %H:%M") }}</td>
        </tr>
        <tr>
            <th>商品ID</th>
            <td>{{ '%08d' % item.Sell_id }}</td>
        </tr>
        <tr>
            <th>支払い方法</th>
            <td>
            {% if buy.pay_way==1 %}
                代金引換
            {% elif buy.pay_way==2 %}
                クレジットカード
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>お届け先</th>
            <td>
                〒{{ buy.s_address.zip_code }}<br>
                {{ buy.s_address.prefecture }}
                {{ buy.s_address.address1 }}
                {{ buy.s_address.address2 }}<br>
                {{ buy.s_address.address3 }}<br>
                {{ buy.s_address.last_name }}
                {{ buy.s_address.first_name }}
                様
            </td>
        </tr>
    </table>
</div>
{% endblock %}
