{% macro render_field(field) %}
<div class="mg-tb-2">
    <dt class="mg-tb-1">
        {{ field.label }}{% if field.flags.required %}<span class="req">必須</span>{% endif %}
        <dd>
            {{ field(**kwargs) | safe }}
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dt>
</div>
{% endmacro %}