<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}古書邂逅{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- ↓読み込むcssファイルをここに記述してください。 -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kosho-flame.css')}}">
        {%block head %}{% endblock%}
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="ロゴ" width="100px">
        </header>
        <nav>
            <a class="navbar-brand" href="{{url_for('route.home')}}">
                ホーム
            </a>
            <a class="navbar-brand" href="{{url_for('route.home')}}">
                検索
            </a>
            <!-- ログインしているとき -->
            {% if current_user.is_authenticated %}
                <img src="{{url_for('static', filename='user_image/' + current_user.picture_path)}}">
                <a class="navbar-brand" href="{{url_for('mypage.mypagetop')}}">
                    マイページ
                </a>
            <!-- ログインしていないとき -->
            {% else %}
                <a class="navbar-brand" href="{{url_for('auth.login')}}">
                    ログイン
                </a>
            {% endif %}
            <a class="navbar-brand" href="{{url_for('route.home')}}">
                出品する
            </a>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>