<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}古書邂逅{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- ↓googleフォント -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <!-- ↑googleフォント -->
        <!-- ↓読み込むcssファイルをここに記述してください。 -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sanitize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/kosho-flame.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common2.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_required_modal.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/logout_modal.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/like.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/follow.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css')}}">
        {%block head %}{% endblock%}
    </head>
    <body>
        <div class="wrap">
            <header>
                <div class="h-wrap">
                    <h1><img src="{{ url_for('static', filename='images/logo.png')}}" alt="ロゴ"></h1>
                    <nav>
                        <ul>
                            <li><a id="home" href="{{url_for('route.home')}}">
                                <i class="fas fa-home"></i>
                                ホーム
                            </a></li>
                            <li><a href="{{url_for('search.item')}}">
                                <i class="fas fa-search"></i>
                                検索
                            </a></li>
                            <!-- ログインしているとき -->
                            {% if current_user.is_authenticated %}
                                <li><a href="{{url_for('todolist.todolist')}}" class="totolist-a">
                                    {%if todolist_count ==0 %}
                                    {% else %}
                                        <div class="tuuti"><div class="tuuti-cnt">{{todolist_count}}</div></div>
                                    {% endif%}
                                    <i class="fas fa-check"></i>
                                    やることリスト
                                </a></li>
                                <li>
                                    <input type="checkbox" id="check1" class="accordion-hidden">
                                    <label for="check1" class="accordion-open">
                                        <img class="u-icon" src="{{url_for('static', filename='user_image/' + current_user.picture_path)}}">
                                        マイページ
                                        <i class="fas fa-caret-down"></i>
                                    </label>
                                    <label for="check1" class="accordion-close">
                                        <a id="mypage-top" class="mp-a" href="{{url_for('mypage.mypagetop')}}">
                                            マイページトップ
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('mypage.profile')}}">
                                            プロフィール情報
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('mypage.identification')}}">
                                            本人情報
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('mypage.shippingaddress')}}">
                                            配送先住所
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('mypage.pay_way')}}">
                                            支払い方法
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('mypage.mail_password')}}">
                                            メール・パスワード
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('history.sell_on_display')}}">
                                            出品履歴
                                        </a><br>
                                        <a class="mp-a" href="{{url_for('history.buy_in_progress')}}">
                                            購入履歴
                                        </a><br>
                                        <a class="mp-a" id="logout">
                                            ログアウト
                                        </a>
                                    </label>
                                </li>
                            <!-- ログインしていないとき -->
                            {% else %}
                                <li><a href="{{url_for('auth.login')}}">
                                    ログイン
                                </a></li>
                            {% endif %}
                            <li><a href="{{url_for('sell.sell')}}">
                                <i class="fas fa-book-open"></i>
                                出品する
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            <div class="r-content">
                <div class="r-wrap">
                    {% block content2 %}
                    {% endblock %}
                </div>
            </div>
            <div id="login-required-modal" class="login-required-modal">
                <div class="modal-bg js-modal-close"></div>
                <div class="modal-content">
                    <h2>ログインしてください</h2>
                    <a class="navbar-brand b-btn" href="{{url_for('auth.login')}}">ログイン</a>
                    <p>アカウントをお持ちでないですか？</p>
                    <a class="navbar-brand r-btn" href="{{url_for('auth.register')}}">新規会員登録</a>
                    <a class="js-modal-close close" href="">閉じる</a>
                </div>
            </div>
            <div id="logout-modal" class="logout-modal">
                <div class="modal-bg js-modal-close"></div>
                <div class="modal-content">
                    <h2>ログアウトしますか？</h2>
                    <a class="navbar-brand b-btn" href="{{url_for('auth.logout')}}">ログアウト</a>
                    <a class="js-modal-close close" href="">キャンセル</a>
                </div>
            </div>
        </div>
        {% include "ajax.html" %}
        <script>
            // カレント表示
            $(document).ready(function() {
                if(location.pathname == "/timeline" || location.pathname == "/hit") {
                    $('#home').addClass('active');
                }else if(location.pathname != "/" && location.pathname.indexOf('/mypage/') == -1) {
                    $('nav li a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
                }else if(location.pathname == "/mypage/"){
                    $('#mypage-top').addClass('active');
                }else if(location.pathname.match("/mypage/history")) {
                    $('nav li a[href^="/' + location.pathname.split("/")[1] + '/' + location.pathname.split("/")[2] + '/' + location.pathname.split("/")[3] + '"]').addClass('active');
                }else if(location.pathname.match("/mypage/")) {
                    $('nav li a[href^="/' + location.pathname.split("/")[1] + '/' + location.pathname.split("/")[2] + '"]').addClass('active');
                }else{ $('#home').addClass('active');}
            });
            // ログアウトモーダル
            $('#logout').on('click', function(){
                $('#logout-modal').fadeIn();
                return false;
            })
            $('.js-modal-close').on('click',function(){
                $('#logout-modal').fadeOut();
                $('body,html').stop().animate({scrollTop:winScrollTop}, 100);
                return false;
            });
            // ログアウトモーダル
        </script>
    </body>
</html>
