<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}古書邂逅{% endblock %}</title>
        <!-- ↓ajax -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- ↓bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- ↓読み込むcssファイルをここに記述してください。 -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/like.css')}}"> -->
        {%block head %}{% endblock%}
    </head>
    <body>
        <header>
            <h1 class="headerLogo"><img src="images/logo.png" alt="ロゴ"></h1>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>