{% extends "base.html" %}
{% block title %}
ホーム - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<div>
    {% if current_user.is_authenticated %}
        <p>ようこそ{{ current_user.username }}さん</p>
    {% else %}
        <p>ログイン or 登録をしてください</p>
    {% endif %}
    <a href="{{url_for('sell.sell')}}">出品する</a>
    <table>
        {% for item in items %}
        <tr>
            <td>
                {% if item.picture_path %}
                <img src="{{url_for('static', filename='user_image/' + item.picture_path)}}">
                {% endif %}
                {{ item.username }}
            </td>
            <td><a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">
                {{ item.deal_status.name }}
                {{ item.key1 }}
                {{ item.key2 }}
                {{ item.key3 }}
                {{ item.sell_comment }}
            </a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}