{% extends "base02.html" %}
{% block title %}
    出品履歴画面 - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<h2>出品した本</h2>
<h3>
    <a class="mp-a" href="{{url_for('history.sell_on_display')}}">出品中</a>
</h3>
<h3>
    <a class="mp-a" href="{{url_for('history.sell_in_progress')}}">取引中</a>
</h3>
<h3>
    <a class="mp-a" href="{{url_for('history.sell_completed')}}">売却済み</a>
</h3>
{% for item in items %}
    <a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">
        {% if item.deal_status.value == 1 and not item.sell_flg %}
            公開停止中
        {% endif%}
        <img src="{{url_for('static', filename='item_image/' + item.item_picture_path)}}">
        {{ item.key1 }}
        {{ item.key2 }}
        {{ item.key3 }}
        {{ item.sell_comment }}
        {{ item.price }}
    </a>
{% endfor %}
{% if prev_url %}
    <a href="{{ prev_url }}">前へ</a>
{% endif %}
{% if next_url %}
    <a href="{{ next_url }}">次へ</a>
{% endif %}
{% endblock %}