.t-error{
    width: 500px;
    margin: 0 auto;
}
.t-error h2{
    color: #e54747;
    margin: 40px 0;
}
.t-error ul{
    padding: 10px;
    color: #333333;
    background-color: transparent;
    text-align: left;
}
.error-list{
    margin: 0 auto;
    width: 440px;
    background-color: #fff;
    border-radius: 10px;
}
.t-error ul li{
    list-style: disc;
}
.t-error p{
    text-align: left;
}
.keikoku{
    color: #e54747;
}
.t-error a{
    display: block;
    margin: 30px 0;
    font-size: 1.0rem;
    color: #0099e8;
    text-decoration: none;
}