{% from "_formhelpers.html" import render_field %}
{% extends "base01.html" %}
{% block title %}
購入内容確認画面 - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<h2>購入内容の確認</h2>
<img src="{{url_for('static', filename='user_image/' + item.user.picture_path)}}">
{{ item.user.username }}
{{ item.key1 }}
{{ item.key2 }}
{{ item.key3 }}
{{ item.price }}
{{ item.sell_comment }}
{{ item.postage.name }}
<p>支払い金額:<span>{{ item.price }}</span>円</p>
<form method="POST">
    {{ form.csrf_token }}
    <h3>支払い方法</h3>
    <a href="{{url_for('buy.pay_way', item_id=item.Sell_id)}}">変更する</a>
    {% if session['pay_way']==1 %}
        {{ form.pay_way(value=1) }}
        <p>代金引換</p>
    {% elif session['pay_way']==2 %}
        {{ form.pay_way(value=2) }}
        {{ form.Credit_id(value=session['Credit_id']) }}
        <p>クレジットカード</p>
        {% set credit = search_credit(session['Credit_id']) %}
        <p>{{ credit.credit_name }}</p>
        <p>{{ credit.credit_num | credit_num_format }}</p>
        <p>{{ credit.expire.strftime('%m/%y') }}</p>
    {% elif current_user.default_pay_way==2 %}
        {{ form.pay_way(value=2) }}
        {{ form.Credit_id(value=current_user.default_Credit_id) }}
        <p>クレジットカード</p>
        {% set credit = search_credit(current_user.default_Credit_id) %}
        <p>{{ credit.credit_name }}</p>
        <p>{{ credit.credit_num | credit_num_format }}</p>
        <p>{{ credit.expire.strftime('%m/%y') }}</p>
    {% else %}
        {{ form.pay_way(value=1) }}
        <p>代金引換</p>
    {% endif %}
    <h3>配送先</h3>
    {% if session['ShippingAddress_id'] %}
        {% set shippingaddress = search_shippingaddress(session['ShippingAddress_id']) %}
        <p>{{ shippingaddress.last_name }}{{ shippingaddress.first_name }}</p>
        <p>{{ shippingaddress.zip_code }}</p>
        <p>{{ shippingaddress.prefecture }}</p>
        <p>{{ shippingaddress.address1 }}</p>
        <p>{{ shippingaddress.address2 }}</p>
        <p>{{ shippingaddress.address3 }}</p>
        {{ form.ShippingAddress_id(value=session['ShippingAddress_id']) }}
        <a href="{{url_for('buy.shippingaddress', item_id=item.Sell_id)}}">変更する</a>
    {% elif current_user.default_ShippingAddress_id %}
        {% set shippingaddress = search_shippingaddress(current_user.default_ShippingAddress_id) %}
        <p>{{ shippingaddress.last_name }}{{ shippingaddress.first_name }}</p>
        <p>{{ shippingaddress.zip_code }}</p>
        <p>{{ shippingaddress.prefecture }}</p>
        <p>{{ shippingaddress.address1 }}</p>
        <p>{{ shippingaddress.address2 }}</p>
        <p>{{ shippingaddress.address3 }}</p>
        {{ form.ShippingAddress_id(value=current_user.default_ShippingAddress_id) }}
        <a href="{{url_for('buy.shippingaddress', item_id=item.Sell_id)}}">変更する</a>
    {% else %}
        <p>配送先住所を追加してください。</p>
        <a href="{{url_for('buy.shippingaddress', item_id=item.Sell_id)}}">追加する</a>
    {% endif %}
    {{ form.submit() }}
</form>
<a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">戻る</a>
{% endblock %}