{% from "_formhelpers.html" import render_field %}
{% extends "base01.html" %}
{% block title %}
配送先住所選択画面 - {{ super() }}
{% endblock %}
{%block head %}
<!-- ↓読み込むcssファイルをここに記述してください。 -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buy/shippingaddress.css')}}">
{% endblock%}
{% block content %}
{% for message in get_flashed_messages() %}
    <p class="finish-msg">{{ message }}</p>
{% endfor %}
<h1>配送先住所選択</h1>
{{ form.csrf_token(form="choice") }}
<table>
{% for field in form.ShippingAddress_id %}
    {% set shippingaddress = search_shippingaddress(field.data) %}
    <tr>
        <td class="pd-r-1">{{ field(form="choice") }}</td>
        <td class="pd-r-2">{{ field.label }}</td>
        <td>
            <div class="pd-r-2">
                <p class="txt-al-lf">
                    {{ shippingaddress.last_name }}
                    {{ shippingaddress.first_name }}
                </p>
                <p class="txt-al-lf">
                    {{ shippingaddress.zip_code }}
                    {{ shippingaddress.prefecture }}
                    {{ shippingaddress.address1 }}
                    {{ shippingaddress.address2 }}
                    {{ shippingaddress.address3 }}
                </p>
            </div>
        </td>
        <td><div class="edit"><a href="{{ url_for('buy.shippingaddress_edit', item_id=item_id, shippingaddress_id=shippingaddress.ShippingAddress_id) }}">編集</a></div></td>
        <td>
            <form method="POST" action="{{url_for('buy.shippingaddress_delete', item_id=item_id)}}">
                {{ delete_form.csrf_token }}
                {{ delete_form.ShippingAddress_id(value=shippingaddress.ShippingAddress_id) }}
                <div>
                    {{ delete_form.submit(id="delete") }}
                </div>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% if shippingaddresses|length < 5 %}
    <a class="address" href="{{ url_for('buy.shippingaddress_register', item_id=item_id) }}">配送先住所を追加</a>
{% else %}
    <P>※配送先住所は5件以上登録できません。</P>
{% endif %}

<div class="mg-tb-2">
    {{ form.is_default.label}}{{form.is_default(form="choice") }}
</div>

<div class="mg-tb-2">
    {{ form.submit(form="choice") }}
</div>
<!-- formは入れ子構造にできないため、form属性を使用 -->
<form method="POST" id="choice"></form>
<div class="mg-tb-3">
    <a href="{{url_for('buy.buy', item_id=item_id)}}" class="back">戻る</a>
</div>
{% endblock %}