.search-container{
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #0f2396;
    padding: 15px 10px;
    border-radius: 3px;
    height: 2.3em;
    width: 530px;
    overflow: hidden;
}
.search-container input[type="text"]{
    border: none;
    width: 480px;
    height: 2.3em;
    position: absolute;
    top: 0;
    left: 0;
}
.search-container input[type="text"]:focus {
    outline: 0;
}
.search-container input[type="submit"]{
    cursor: pointer;
    border: none;
    background: #0f2396;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right:0px;
    top: -5px;
    outline : none;
}
.search-container #submit{
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 2.3em;
    line-height: 0;
    border-radius: 0;
    color: white;
    transition: .2s;
    background-color: #0f2396;
}
/* タブ */
.home-tab{
    text-align: center;
    margin: 10px;
    border-radius: 7px;
    border: solid 2px  #0f2396;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.home-tab a{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    flex-grow: 1;
    padding: 8px;
}
.home-tab a{
    transition: 0.5s;
}
.home-tab a:hover{
    background-color: #0f239670;
}
.current{
    color: #ffffff;
    background-color: #0f2396;
    border-radius: 5px;
}
.current:visited{
    color: #ffffff;
}
/* ユーザー検索結果 */
.search{
    background-color: #fff;
    border-radius: 2px;
    margin-top: 0;
}
.search-r-u{
    margin-top: 50px;
}
/* 絞り込みエリア */
.nd-wrap{
    margin-top: 50px;
    background-color: #f6f9fa;
    border-radius: 17px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nd-wrap-wrap{
    width: 300px;
}
.nd-wrap h2{
    margin-bottom: 15px;
    color: #a7885d;
}
.nd-wrap h2 i{
    margin-right: 5px;
}
.nd-wrap h3{
    margin-bottom: 5px;
    font-size: 1.3rem;
}
.nd-wrap h3 i{
    margin-right: 5px;
}
.nd-wrap select {
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border: solid 1px #C8A063;
    border-radius: 10px;
    margin-bottom: 20px;
}
.n-d-submit{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    transition: .2s;
    background-color: #0f2396;
    margin-bottom: 20px;
}
.n-d-reset{
    background-color: #888;
}
.value-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.value{
    width: 100px;
    height: 30px;
    padding: 0 10px;
    border: solid 1px #C8A063;
    border-radius: 10px;
}
.value-kara{
    margin: 0 5px;
}
#state,#postage,#sellstate{
    margin-bottom: 20px;
}
/* チェックボックス */
input[type=checkbox] {
    display: none;
}
.checkbox{
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox::before{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.checkbox::after{
    border-right: 6px solid #e54747;
    border-bottom: 3px solid #e54747;
    content: '';
    display: block;
    height: 20px;
    left: 11px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate3d(0,2px,0) scale3d(.7,.7,1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 9px;
}
input[type=checkbox]:checked + .checkbox::before {
    border-color: #666;
}
input[type=checkbox]:checked + .checkbox::after {
    opacity: 1;
    transform: rotate(45deg) scale3d(1,1,1);
}