{% extends "base01.html" %}
{% block title %}
出品情報確認画面 - {{ super() }}
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/item.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sell/sell_preview.css')}}">
{% endblock %}
{% block content %}
<h1>出品情報確認</h1>
<!-- ここから 出品投稿 -->
<article class="item-wrap">
    <div class="u-box">
        <img class="u-icon" src="{{url_for('static', filename='user_image/' + current_user.picture_path)}}">
        <p class="u-name">{{ current_user.username }}</p>
        <p class="u-code">{{ current_user.user_code }}</p>
    </div>
    <div class="i-content-area">
        <div class="k-s-box">
            <div class="i-key">
                <p><i class="fas fa-key"></i>{{ form.key1.data }}</p>
                <p><i class="fas fa-key"></i>{{ form.key2.data }}</p>
                <p><i class="fas fa-key"></i>{{ form.key3.data }}</p>
            </div>
        </div>
        <div class="i-comm"><p>{{ form.sell_comment.data }}</p></div>
    </div>
</article>
<!-- ここまで　出品投稿 -->

<div class="t-wrap">
    <table>
        <tr><th colspan="2"><h2>詳細</h2></th></tr>
        <tr>
            <th>本のタイトル</th>
            <td>
                &yen;{{ form.sell_title.data }}
            </td>
        </tr>
        <tr>
            <th>本の画像</th>
            <td>
                <img src="{{url_for('static', filename='item_temp_image/' + imagename)}}" class="book-photo">
            </td>
        </tr>
        <tr>
            <th>販売価格</th>
            <td>
                &yen;{{ form.price.data }}
            </td>
        </tr>
        <tr>
            <th>配送料の負担</th>
            <td>{{ form.postage.data }}</td>
        </tr>
        <tr>
            <th>ジャンル</th>
            <td>
                {{ form.genre.name }}
            </td>
        </tr>
        <tr>
            <th>商品の状態</th>
            <td>{{ form.item_state.data }}</td>
        </tr>
        <tr>
            <th>配送の方法</th>
            <td>{{ form.send_way.data }}</td>
        </tr>
        <tr>
            <th>配送元地域</th>
            <td>{{ form.consignor.data }}</td>
        </tr>
        <tr>
            <th>発送日の目安</th>
            <td>{{ form.schedule.data }}</td>
        </tr>
        <tr>
            <th>備考</th>
            <td>{{ form.remarks.data }}</td>
        </tr>
    </table>
</div>
<div class="submit-wrap">
    <form method="POST" action="{{url_for('sell.sell_register')}}">
        {{ hiddenform.csrf_token }}
        {{ hiddenform.sell_title(value=form.sell_title.data) }}
        {{ hiddenform.key1(value=form.key1.data) }}
        {{ hiddenform.key2(value=form.key2.data) }}
        {{ hiddenform.key3(value=form.key3.data) }}
        {{ hiddenform.sell_comment(value=form.sell_comment.data) }}
        {{ hiddenform.price(value=form.price.data) }}
        {{ hiddenform.item_picture_path(value=imagename) }}
        {{ hiddenform.genre(value=form.genre.data) }}
        {{ hiddenform.item_state(value=form.item_state.data) }}
        {{ hiddenform.postage(value=form.postage.data) }}
        {{ hiddenform.send_way(value=form.send_way.data) }}
        {{ hiddenform.consignor(value=form.consignor.data) }}
        {{ hiddenform.schedule(value=form.schedule.data) }}
        {{ hiddenform.remarks(value=form.remarks.data) }}
        {{ hiddenform.submit(value='出品する') }}
    </form>
    <form method="POST" action="{{url_for('sell.sell')}}">
        {{ hiddenform.csrf_token }}
        {{ hiddenform.sell_title(value=form.sell_title.data) }}
        {{ hiddenform.key1(value=form.key1.data) }}
        {{ hiddenform.key2(value=form.key2.data) }}
        {{ hiddenform.key3(value=form.key3.data) }}
        {{ hiddenform.sell_comment(value=form.sell_comment.data) }}
        {{ hiddenform.price(value=form.price.data) }}
        {{ hiddenform.item_picture_path(value=imagename) }}
        {{ hiddenform.genre(value=form.genre.data) }}
        {{ hiddenform.item_state(value=form.item_state.data) }}
        {{ hiddenform.postage(value=form.postage.data) }}
        {{ hiddenform.send_way(value=form.send_way.data) }}
        {{ hiddenform.consignor(value=form.consignor.data) }}
        {{ hiddenform.schedule(value=form.schedule.data) }}
        {{ hiddenform.remarks(value=form.remarks.data) }}
        {{ hiddenform.submit(id="sell-back",value='出品画面に戻る') }}
    </form>
</div>
{% endblock %}