{% extends "base02.html" %}
{% block title %}
{{ item.key1 }}/{{ item.key2 }}/{{ item.key3 }}の本 - {{ super() }}
{% endblock %}
{%block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item/itemdata.css')}}">
{% endblock%}
{% block content %}
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<!-- ここから　出品投稿 -->
<article class="item-wrap">
    <a href="{{url_for('item.itemdata', item_id=item.Sell_id)}}">
        <object><a class="u-box" href="{{url_for('user.userdata', user_code=item.user.user_code)}}">
            <img class="u-icon" src="{{url_for('static', filename='user_image/' + item.user.picture_path)}}">
            <p class="u-name">{{ item.user.username }}</p>
            <p class="u-code">{{ item.user.user_code }}</p>
        </a></object>
        <div class="i-content-area">
            <div class="k-s-box">
                <div class="i-key">
                    <p><i class="fas fa-key"></i>{{ item.key1 }}</p>
                    <p><i class="fas fa-key"></i>{{ item.key2 }}</p>
                    <p><i class="fas fa-key"></i>{{ item.key3 }}</p>
                </div>
                {% if item.deal_status.value == 2 or item.deal_status.value == 3 %}
                    <div class="sold">
                        <p>SOLD OUT!</p>
                    </div>
                {% endif %}
            </div>
            <div class="i-comm"><p>{{ item.sell_comment }}</p></div>
        </div>
        <p><span class="i-price">¥{{ item.price }}</span></p>
        <div class="i-fotter">
            {% include "like.html" %}
            <p>{{ item.create_at.strftime('%Y/%m/%d %H:%M') }}</p>
        </div>
    </a>
</article>
<!-- ここまで　出品投稿 -->
<div class="t-wrap">
    <table>
        <tr><th colspan="2"><h3>詳細</h3></th></tr>
        <tr>
            <th>商品ID</th>
            <td>{{ '%08d' % item.Sell_id }}</td>
        </tr>
        <tr>
            <th>ジャンル</th>
            <td>
                {{ item.genre.name }}
            </td>
        </tr>
        <tr>
            <th>商品の状態</th>
            <td>{{ item.item_state.name }}</td>
        </tr>
        <tr>
            <th>配送料の負担</th>
            <td>{{ item.postage.name }}</td>
        </tr>
        <tr>
            <th>配送の方法</th>
            <td>{{ item.send_way.name }}</td>
        </tr>
        <tr>
            <th>配送元地域</th>
            <td>{{ item.consignor }}</td>
        </tr>
        <tr>
            <th>発送日の目安</th>
            <td>{{ item.schedule.name }}</td>
        </tr>
        <tr>
            <th>備考</th>
            <td>{{ item.remarks }}</td>
        </tr>
    </table>
</div>
<div class="inf-wrap">
    {% if item.User_id == current_user.User_id %}
        {% if item.deal_status.value == 1 %}
            <h2>本のタイトル<span class="keikoku">*出品者のみ表示されます</span></h2>
            <p>{{ item.sell_title }}</p>
            <h2>商品の画像<span class="keikoku">*出品者のみ表示されます</span></h2>
            <img src="{{url_for('static', filename='item_image/' + item.item_picture_path)}}">
            <a href="{{url_for('sell.sell_update', item_id=item.Sell_id)}}">出品情報を編集する</a>
            <form method="POST" action="{{url_for('sell.sell_flg_update')}}">
                {{ form.csrf_token }}
                {{ form.Sell_id(value=item.Sell_id) }}
                {% if item.sell_flg %}
                    {{ form.submit(value='出品を一時停止する') }}
                {% else %}
                    {{ form.submit(value='出品を再開する') }}
                {% endif %}
            </form>
            <form method="POST" action="{{url_for('sell.sell_delete')}}">
                {{ form.csrf_token }}
                {{ form.Sell_id(value=item.Sell_id) }}
                {{ form.submit(value='削除') }}
            </form>
        {% elif item.deal_status.value == 2 %}
            <a href="{{url_for('transaction.transaction', item_id=item.Sell_id)}}">取引画面をみる</a>
        {% elif item.deal_status.value == 3 %}
            <a href="{{url_for('transaction.transaction', item_id=item.Sell_id)}}">取引画面をみる</a>
            <p>取引が完了しています</p>
        {% endif %}
    {% elif item.sell_flg and item.is_active and item.deal_status.value == 1 %}
        <a href="{{url_for('buy.buy', item_id=item.Sell_id)}}">購入画面に進む</a>
    {% elif buy_user == current_user.User_id %}     
        {% if item.deal_status.value == 2 %}
            <a href="{{url_for('transaction.transaction', item_id=item.Sell_id)}}">取引画面をみる</a>
        {% elif item.deal_status.value == 3 %}
            <a href="{{url_for('transaction.transaction', item_id=item.Sell_id)}}">取引画面をみる</a>
            <p>取引が完了しています</p>
        {% endif %}
    {% elif item.sell_flg and item.is_active and item.deal_status.value != 1 %}
        <p>売り切れました</p>
    {% endif %}
</div>
<script>
    // ここから ajaxでcsrf_tokenを使用するとき
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
    // ここまで ajaxでcsrf_tokenを使用するとき
    $(document).ready(function(event){
        // ここから いいね処理
        var winScrollTop;
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{{ url_for('ajax.like_ajax') }}",
                data: {'sell_id': $(this).attr('name')},
                dataType: 'json',
                success: function(data){
                    if(data['not_authenticated']){
                        //スクロール位置を取得
                        winScrollTop = $(window).scrollTop();
                        login_required_modal_open();
                    }else{
                        selector = document.getElementsByName(data['item_id']);
                        if(data['liked']){
                            $(selector).html("<i class='fas fa-lg fa-heart like-btn'></i>");
                        }
                        else {
                            $(selector).html("<i class='far fa-lg fa-heart unlike-btn'></i>");
                        }
                        selector2 = document.getElementsByName(data['item_id'] + "-count");
                        $(selector2).text(data['count']);
                    }
                }
            });
        });
        // ここまで いいね処理
        function login_required_modal_open(){
            $('#login-required-modal').fadeIn();
            return false;
        }
        $('.js-modal-close').on('click',function(){
            $('#login-required-modal').fadeOut();
            $('body,html').stop().animate({scrollTop:winScrollTop}, 100);
            return false;
        });
    });
</script>
{% endblock %}