{% extends "base.html" %}
{% block title %}
{{ item.key1 }}/{{ item.key2 }}/{{ item.key3 }}の本 - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<div>
    <img src="{{url_for('static', filename='user_image/' + item.user.picture_path)}}">
    {{ item.user.username }}
    {{ item.key1 }}
    {{ item.key2 }}
    {{ item.key3 }}
    {{ item.price }}
    {{ item.sell_comment }}
    {{ item.genre.name }}
    {{ item.item_state.name }}
    {{ item.postage.name }}
    {{ item.send_way.name }}
    {{ item.deal_status.name }}
    {% if item.User_id==user_id %}
    <a href="{{url_for('sell.sell_update', item_id=item.Sell_id)}}">商品編集</a>
        <form method="POST" action="{{url_for('sell.sell_flg_update', item_id=item.Sell_id, sell_flg=item.sell_flg)}}">
            {{ form.csrf_token }}
            {{ form.Sell_id(value=item.Sell_id) }}
            {% if item.sell_flg %}
                {{ form.submit(value='出品を一時停止する') }}
            {% else %}
                {{ form.submit(value='出品を再開する') }}
            {% endif %}
        </form>
        <form method="POST" action="{{url_for('sell.sell_delete', item_id=item.Sell_id)}}">
            {{ form.csrf_token }}
            {{ form.Sell_id(value=item.Sell_id) }}
            {{ form.submit(value='削除') }}
        </form>
    {% else %}
    <a href="{{url_for('buy.buy', item_id=item.Sell_id)}}">購入画面に進む</a>
    {% endif %}
</div>
{% endblock %}